@model IEnumerable<siCoreDBF3.DAL.Model.Futbol2122SezonTr>

@{
    ViewData["Title"] = "Index";
}

<h3 class="tableName">2021/2022 SÜPER LİG PUAN DURUMU</h3>







<div class="table-wrapper">


    <div class="dropdown">
        <button class="dropbtn">
            21/22

        </button>
        <div class="dropdown-content">
            <a asp-area="" asp-controller="Futbol1920SezonTr"
               asp-action="Index">19/20 Sezonu</a>
            <a asp-area="" asp-controller="Futbol2021SezonTr"
               asp-action="Index">20/21 Sezonu</a>
            <a asp-area="" asp-controller="Futbol2122SezonTr"
               asp-action="Index">21/22 Sezonu</a>
        </div>
    </div>


    <div class="dropdown">
        <button class="dropbtn">
            İstatistik

        </button>
        <div class="dropdown-content">
            <a asp-area="" asp-controller="Futbolcular2122Tr"
               asp-action="Index">Gol Krallığı</a>
            <a asp-area="" asp-controller="Futbolcular2122Tr"
               asp-action="Index2">Asist Krallığı</a>

        </div>
    </div>


    <table class="fl-table">
        <thead>
            <tr>
                <th>TAKIM </th>
                <th> G</th>
                <th>M</th>
                <th>B</th>
                <th>A</th>
                <th>Y</th>
                <th>AV</th>
                <th>P</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Takim.TakimAdi)</td>
                    <td> @Html.DisplayFor(modelItem => item.TakimGalibiyet)</td>
                    <td> @Html.DisplayFor(modelItem => item.TakimMaglubiyet)</td>
                    <td> @Html.DisplayFor(modelItem => item.TakimBeraberlik)</td>
                    <td>    @Html.DisplayFor(modelItem => item.TakimAtılanGol)</td>
                    <td> @Html.DisplayFor(modelItem => item.TakimYenilenGol)</td>
                    <td> @Html.DisplayFor(modelItem => item.TakimAveraj)</td>
                    <td>@Html.DisplayFor(modelItem => item.TakimPuan)</td>
                </tr>
            }
        <tbody>
    </table>
</div>
